<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#000">
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <meta name="msapplication-navbutton-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
    <title>User</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <!--/*@thymesVar id="user" type="web.model.User"*/-->
            <p th:text="${user.getId() + ' - ' + user.getName() + ' - ' + user.getLastName() + ' - ' + user.getEmail() + ' - ' + user.getPassword()}"></p><a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit user</a>
            <form th:method="delete" th:action="@{/admin/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete user">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a th:href="@{/logout}" type="button" class="btn btn-outline-danger">Logout</a>
        </div>
    </div>
</div>
</body>
</html>